ul li {
    overflow: auto;
    list-style-type: none;
}

li {
    clear: both;
    margin: 5px 0px;
}

.label {
    display: block;
    float: left;
    width: 200px;
}

.contact {
    display: block;
    float: left;
    padding-left: 20px;
}

.contact.phone {
    background: url('../images/phone.png') no-repeat center left;
}

.contact.mail {
    background: url('../images/mail.png') no-repeat center left;
}

.contact.facebook {
    background: url('../images/facebook.png') no-repeat;
}

.contact.twitter {
    background: url('../images/twitter.png') no-repeat;
}

.contact.posterous {
    background: url('../images/posterous.png') no-repeat;
}

.contact.vkontakte {
    background: url('http://vk.com/images/vk16.png?1') no-repeat;
}